# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
*.db
*.db-journal
*.sqlite
*.sqlite3
dev.db

# Build outputs & caches
dist/
build/
.next/
out/
.turbo
*.tsbuildinfo

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.lock

# IDEs & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
